h1 {
  text-align: center
}

h4 {
  margin: 0;
}

a {
  color: #BD242B;
}

#latest-status, #rsvp-count {
  background: #BD242B;
  color: white;
  padding: 1em 3em;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}

#rsvp-count {
  padding: 0.5em 1.5em;
  float: right;
}

#location {
  margin-top: 30px;
  margin-bottom: 10px;
}

.content a, .single-project a {
  text-decoration: none;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.meta {
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.content {
  background: hsla(357, 81%, 64%, 0.15);
  padding: 1em 2em;
}


header, footer {
  display: none;
}

#user-projects {
  font-family: Montserrat;
}

.single-project {
  height: 100%;
  border: 2px solid #BD242B;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.single-project:hover {
  -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.75);
}

.github-repo-data > * {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}


.github-repo-data a:link, .github-repo-data a:visited  {
  text-align: center;
}
